*{
  background-color: black;
  color: #fff;
  font-size: 40px;
  font-family: "Smooch Sans", sans-serif;

}
.dashboard {
  margin-bottom: 50px;
  margin-top: 18rem;
}
.dashboard input{
  left: 33%;
  position: absolute;
  top: 5%;
  width: 300px;
  font-size: 27px;
  border-radius: 5px;
  text-align: center;
  font-family: "Barriecito", system-ui;
  background-color: #fff;
  height: 50px;
  margin-top: 17rem;
}
.add{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size:50px;
  font-family: "Honk", system-ui;

}
.dashboardContainer {
  display: inline-block;

  gap: 9em;
  left: 3%;
  margin-top: 75px;
}

.dashboardContainer button {
  border: none;
  width: 130px;
  height: 60px;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  font-family: "Abril Fatface", serif;
}


.form1{
  background-color: red;
  position: absolute;

}
.firser h2{
  color: red;
  position: absolute;
  top: 45%;
  left: 38%;
}