.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}


.contact-info {
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
  gap: 40px; /* Adjust the gap between icons and labels */
}

.contact-info > div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items vertically in the center */
}

.contact-info > div > span {
  margin-top: 10px; /* Adjust spacing between icon and label */
}

