
/* Styling for the header and navbar */
header {
  width: 100%;
  height: 10%;
  color: rgb(255, 255, 255);
  font-display: rgb(255, 253, 253);
}

.navbar {
  display: inline-block; 
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(5, 4, 4);
  width: 90%;
  height: 10%;
  position: absolute;
  top: 0; 
  left: 0;
}

.NavBar {
  margin: 0 auto;
}

.navbar h1 {
  color: rgb(240, 226, 226);
  margin-left: 20px;
}

.navbar form {
  display: flex;
  align-items: center;
}

.navbar input[type="text"] {
  padding: 8px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navbar button {
  padding: 8px 15px;
  background-color: rgba(0, 123, 255, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.navbar .categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .headerT {
  display: flex;
  justify-content: left;
  align-items: left;
}

.navbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .categories button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.navbar .categories button:hover {
  background-color: rgba(128, 128, 128, 0.8);

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact-info > div {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.leave-message form .submit-button {
  margin-left: 10px;
}

.leave-message form label,
.leave-message form input,
.leave-message form textarea {
  margin-right: 10px;
}
.leave-message form label:last-child,
.leave-message form input:last-child,
.leave-message form textarea:last-child {
  margin-right: 0;
}

.leave-message form textarea {
  margin-top: 5px;
}
