*{
    margin: 0;
    padding: 0;
    color:white;
}
.dashboard {
    display: inline-block;
    margin-left: 10px;
    margin-top: 200px;
    background-color: black;
}
.dashboardContainer{
    display: inline-block;
    border: 1px solid black;
    margin-left: 110px;
    height: 600px;
    border-radius: 20px;
}
.dashboardContainer button{
    margin-left: 30px;
}
.dashboard img{
    width: 250px;
}
.dashboard button {
    background-color:white;
   
}
.dashboard input{
   position: absolute;
   width: 400px;
   height: 100px;
   left: 40%;
   top: 19%;
   text-align: center;
   border-radius: 20px;

}
.dashboard input::placeholder{
    font-size: 30px;
}
  #buttons-container {
    position: absolute;
    left: 20%;
  } 

  .searcher input {
    width: 400px;
    height: 200px;
    margin-top: 10rem;
    margin-left: 320px;
  }
  .searcher {
    display: inline-block;
    position: absolute;
    left: 35%;
    top: 16%;
    text-align: center;
    height: 200px;
    width: 500px;
    font-size: 0px;
  }
  .image2 {
    width: 100%;
    height: 100vh;
    top: 15%;
    position: absolute;
  }
  .image img {
    width: 280px;
  }
  .dashboardContainer button {
    border: none;
    width: 130px;
    height: 60px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    font-family: "Abril Fatface", serif;
  }
  .navbar{
    width: 100%;
  }
  a{
     color: white;
    text-decoration: none;
    font-size: 40px;
  }
  
  .lists{
    position: absolute;
    top: 25%;
    width: 100%;
    
  }
  .lists input{
    width: 400px;
    border: none;
    border-radius: 20px;
    height: 50px;
    text-align: center;
    margin-left: 50em;
    
  }
  .lists input::placeholder{
    font-size: 30px;
  }
  .lists select{
    height: 90px;
    width: 400px;
    font-size: 30px;
  }
  .image2{
    position: absolute;
    top: 30%;
    height:20%;
  }
 
  button{
    background-color: white(221, 45, 45);
    border: none;
    margin-left: 17rem;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: "Protest Guerrilla", sans-serif;
  }
  .categories{
    background-color: black;
    height: 0px;
  }
.categories button{
    margin-left: 200px;
}
span{
    font-size: 30px;
} 
.leave-message input{
    width: 400px;
    height: 70px; 
}

label{
    font-size: 30px;
}
.add{
    position: absolute;
    left: 30%;
    color:black;
    font-size: 50px;
    text-decoration: underline;
}
.firser input{
    width: 300px;
    height: 70px;
    
}
.add{
    position: absolute;
    top: 10%;
} 
/* .image2{
  top: 30%;
  height: 20%;
  position:absolute;
  top:0%;
} */
 
